<html>
<head>
	<meta charset="utf-8">
</head>
<body>
	<p>Здравствуйте, {{ name }} {{ last_name }}!</p>
	<p>Вы или кто-то другой зарегистрировались на сайте http://kd.loc.</p>
	<p>Для завершения регистрации пройдите  
	<a href="http://{{ host }}{{ route }}" target="_blank">по ссылке</a>
	</p>
</body>
</html>
